.themeColor {
  color: var(--themeColor);
}

.skill {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
}
.skill img {
  background-position: center;
  object-fit: contain;
  height: 90%;
}

#aboutpara {
  /* transform: translateX(-300px); */
  transition: all 0.55s ease-out;
}
#skillresume {
  /* opacity: 0; */
  /* transform: translateX(300px); */
  /* transition: all 0.55s ease-out; */
  /* transition-delay: 0.45s; */
}

.resumebutton {
  margin: auto;
  padding: 10px 15px;
}
@media only screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  .skill {
    height: 40px;
    width: 40px;
    margin: 10px 7px;
  }

  .resume a {
    font-size: 0.85rem;
  }
}
