#projects {
  min-height: 90vh;
  /* background-color: red; */
  overflow-x: hidden;
}
/* flex justify-evenly my-7 */
#firstproject,
#secondproject {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 2rem;
  margin-inline: auto;
  width: 100%;
  transition: all 0.5s ease-out;
  opacity: 0;
  /* background-color: red; */
}
#firstproject {
  transform: translateX(-600px);
}
#secondproject {
  transform: translateX(600px);
}
#title {
  z-index: 10;
  transition: all 0.3s ease;
  transform: scale(1);
}

.dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  transition: all 0.3s ease;
}
#title {
  font-size: 1.15rem;
}

#demobtn {
  font-size: 0.9rem;
  transition: all 0.3s ease;
  z-index: 10;
  position: absolute;
  background-color: white;
  color: black;
  padding: 8px 15px;
  border-radius: 7px;
  bottom: -50px;
}

.projectcont {
  width: 90%;
}

#projecttitle {
  /* margin: 30px 0; */
  font-size: 1.8rem;
  transition: all 0.45s ease-in;
}
/* project design start */
.project {
  height: 210px;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  /* background-color: yellow; */
  flex-direction: column;
  position: relative;
  /* margin: 0px 0px 30px 95px; */
}
.dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  transition: all 0.2s ease-out;
}
.project:hover .dark {
  opacity: 1;
}
.demo {
  background-color: white;
  color: black;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 0.8rem;
}
.projimage {
  width: 100%;
  height: 65%;
}
.projimage img {
  height: 100%;
  width: 100%;
}
.projdesc {
  height: 35%;
  width: 100%;
  /* background-color: rgb(60, 60, 60); */
}
.tools {
  height: 55%;

  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 10px;
}
.tool {
  margin: 0px 2.5px 5px;
  font-size: 0.45rem;
  /* background-color: rgb(39, 39, 39); */
  border: 1px solid rgba(255, 255, 255, 0.317);
  padding: 2px 5px 1px 5px;
  background-color: rgb(70, 70, 70);
  color: white;
  border-radius: 10px;
}
.projtitle {
  font-family: "Josefin Sans", sans-serif;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

@media only screen and (366px< width< 431px) {
  body {
    overflow-x: hidden;
  }
  .projectcont {
    width: 100%;
  }
  #projecttitle {
    font-size: 1.65rem;
    margin: 15px 0px;
    padding-top: 1rem;
  }
  #firstproject,
  #secondproject {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin: 0 30px 0 0;
  }
  #secondproject {
    margin-top: 0px;
  }
  .project {
    height: 215px;
    width: 160px;
    margin: 0px 0px 20px 35px;
  }
  #title {
    transform: scale(0.9);
    z-index: 0;
  }
  .projtitle {
    font-size: 1.05rem;
  }
  .tool {
    font-size: 0.415rem;
  }
}

/* aaus */
@media only screen and (1200px < width < 1300px) {
  .project {
    height: 230px;
    width: 180px;
    margin: 0px 30px;
  }
}

@media only screen and (width< 366px) {
  #projects {
  }
  .projtitle {
    font-size: 1rem;
  }

  .project {
    height: 200px;
    width: 145px;
    margin: 0;
  }
  .tools {
    padding-bottom: 2px;
  }
  .tool {
    /* background-color: red; */
    margin: 0 4px 0 0;
  }
  #firstproject,
  #secondproject {
    display: flex;

    flex-wrap: wrap;
    width: 105%;
    margin: 0 10px 0 0;
  }
}
